<div class="row">
  <div class="titulo-h1">
    <h1 class="h1">Experiencia laboral</h1>
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newex"
      *ngIf="isLogged"
    >
      Agregar nueva
    </button>
  </div>

  <div class="grid" *ngFor="let experiencia of experienciaList">
    <div class="grid-item" *ngIf="experiencia">
      <img
        class="imagen"
        id="imagen"
        src="{{ experiencia.imgEmpresaEx }}"
        alt="Logo de empresa"
        max-width="100px"
      />
    </div>
    <div class="grid-item">
      <p class="titulo">
        {{ experiencia.tituloEx }} ({{ experiencia.fechaInicioEx }} -
        {{ experiencia.fechaFinEx }})
      </p>
      <p class="contenido">{{ experiencia.empresaEx }}</p>
      <p class="contenido">{{ experiencia.descripcionEx }}</p>
    </div>
    <div class="grid-item" *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editex/{{ experiencia.id }}">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(experiencia.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
